header.title-bar {
  height: 85px;
  border:0;
}
header.title-bar ul.slim-menu li { display: inline-block; vertical-align: top; margin-left: 20px; }
header.title-bar ul.slim-menu a{
    color: #3965A1;
    text-decoration: none;
    font-size: 16px;
    font-family: "Frutiger Roman", sans-serif;
    line-height: 40px;
    display: inline-block;
    margin-left: 0;
    vertical-align: top;
}
header.title-bar ul.slim-menu-drop {
	width: 116px;
	list-style-type: none;
	background: #fff;
	z-index: 15;
	/*margin: 0 0 0 20px;*/
	padding: 8px 0;
  position: absolute;
  -webkit-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.25);
  transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
  }

header.title-bar ul.slim-menu-drop li {
	text-align: left;
	margin: 0;
	display: block;
}

header.title-bar {z-index: 15;}
header.title-bar ul.slim-menu-drop a {
	padding: 0 10px 0 18px;
	color: #333742;
	margin: 0;
	width: 100%;
	line-height: 40px;
}

header.title-bar ul.slim-menu-drop a.active {
}

header.title-bar ul.slim-menu-drop a:hover {
	background: #ffc20c;
}

a i.material-icons.drop-check {
  margin: 0 0 0 -14px;
  float: none;
  width: 30px;
  vertical-align: middle;
  color: #fff;
  -moz-transition: none;
  -webkit-transition: none;
  transition: none;

}
a:hover i.material-icons.drop-check { color: #ffc20c; }
a.active i.material-icons.drop-check { color: #333742; }

.dropit-border {
    border-right: 1px solid #acaead;
    padding-right: 20px;
}

.chevy{
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.chevy.down{
    -ms-transform:rotateX(180deg);
    -moz-transform:rotateX(180deg);
    -webkit-transform:rotateX(180deg);
    transform:rotateX(180deg);
    line-height: 38px !important;
}

nav {
	background: #fff;
	border-top: 1px solid #515253;
  border-bottom: 1px solid #515253;
}
nav a, .secondary-nav a {
  color: #3965A1;
  font-family: 'Frutiger Light', sans-serif;
}
nav a.active, #Home .home, #Appt .appt {
	background: #515253;
  color: #fff;
}
nav a:hover {
	cursor: pointer;
	/*background: #fff;*/
  text-decoration: none;
  /*color: #4a1489;*/
  border-bottom: 4px solid #515253;
}

.secondary-nav {
	background: #fff;
}
.secondary-nav a { color: #333741; }
.secondary-nav a:hover {
  background: #eeeeed;
  border-bottom: 4px solid #9827ac;
}
.secondary-nav a.active {
  border-bottom: 4px solid #9827ac;
}

#page-nav {z-index: 12;}

.fixed-header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  display: none;
}

.top-border { border-top: 1px solid #d0d0ce; }
.container-full {
	max-width: 3000px;
    text-align: center; }

.width-1140 {
	max-width: 1140px;
	margin: 0 auto;
  float: none !important;
  text-align: left; }

.width-1170 {
  max-width: 1170px;
  margin: 0 auto;
  float: none !important;
  text-align: left; }

.btn-primary, .btn-secondary {
  color: #fff;
  height: 36px;
  background: #3965A1;
  border: 0;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 30px;
  letter-spacing: .05em;
  font-family: 'Frutiger Roman';
  line-height: 40px;
}
.btn-primary:hover, .btn-secondary:hover {
	background-color: rgba(158,158,158,0.6);
	transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    outline: none;

}

.btn-primary-black {
  background: #333741;
  color: #fff;
}
.btn-secondary {
  color: #434448;
  background: #fff;
  border: 2px solid #01579a;
  line-height: 36px;
 }

 .btn-tertiary {
  color: #015798;
  text-align: left;
  font-family: 'Frutiger Roman';
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  letter-spacing: .05em;
  background: 0;
  border: 0;
  outline: none;
 }
 .btn-tertiary:hover,  .btn-tertiary:active { text-decoration: none; }

 .btn-blue {
 	background: #005799;
 	color: #fff;
 	width: 21%;
 	margin: 0 10px 15px 0;
 	padding: 0;
 	letter-spacing: .1em;
 	cursor: pointer;
 }

 .btn-blue-sm {
  background: #005799;
  color: #fff;
  margin: 0 10px 15px 0;
  padding: 0 10px;
  letter-spacing: .02em;
  cursor: pointer;
  width: 22%;
  font-size: 15px;
 }

 .btn-auto-width {
 	width: auto;
 	padding: 0 10px;
 }

 .btn-primary.disabled, .btn-primary.disabled:focus { background: #efefee; color: #fff; outline: none; }
 .btn-primary.disabled:hover { background: #efefee; cursor: default; }

 .dropdown-menu>li>a {
 	padding: 10px 20px 10px 34px;
 	line-height: 30px;
 	background: 0;
 }
 .dropdown-menu>li>a:hover {
 	background: #fec30e;
 }
 .dropdown-menu>li>a:focus {
 	outline: none;
 	background: #fff;
 }
 .dropdown-menu>li>a:focus:before {
 	font-family:'Glyphicons Halflings';
 	position: absolute;
 	left:10px;
    content: "\E013";
    color: #333;
    font-size: 1.4rem;
 }
 .dropdown-menu>li>a:focus:first-child:before {
 	/*color: #fff;*/
 }

.icon-purple { color: #9b27af !important; }
.icon-blue { color: #01579B !important; }
.material-icons-30 { font-size: 30px; }

.page-break {
	border-top: 1px solid #d0d0ce;
	text-align: center;
	margin: 45px 0;
}
.page-break-head {
	background: #fff;
	display: inline-block;
	margin-top: -12px;
	font-size: 24px;
	color: #333741;
	padding: 0 15px;
	letter-spacing: .05em;
  font-family: "Frutiger Light", sans-serif;
  font-weight: 300;
}
.page-break-mini {
    border-top: 1px solid #d0d0ce;
    text-align: center;
    font-style: italic;
    width: 30%;
    margin: 45px auto;
}
.page-break-mini-head {
  background: #fff;
  display: inline-block;
  margin-top: -10px;
  font-size: 13px;
  color: #231f20;
  padding: 0 15px;
}

.landing-sub {
	font: normal 23px/32px 'Roboto-Light', sans-serif;
	color:  #434448;
}

hr {
    border: none;
    border-bottom: 1px solid #d0d0ce;
    height: 1px;
    width: 100%;
    margin: 50px 0;
}

.exam-prep-wrap {
  width: 100%;
  margin-top: -1px;
  padding: 0 15px 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d0d0ce;
}

.exam-prep {
	width: 99%;
	background: #fff8c3;
	padding: 10px 15px;
	font: italic 15px 'Open Sans', 'Roboto', sans-serif;
	color: #666;
	margin: 0 auto;
}
span.table-head { padding-bottom: 0; }
span.table-head span { font-size: 12px; text-transform: uppercase; color: #888686; padding-bottom: 0; border-color: #d0d0ce; }
.table-head span.table-data { border-color: #d0d0ce; }
span.big { font-size: 15px; font-weight: bold; text-transform: none; color: #434448; padding-bottom: 0;  }
span.table-data { font: normal  300 13px/19px 'Open Sans', 'Roboto', sans-serif; padding: 16px 20px; border-color: #d0d0ce; }
span.table-data p { display: block; margin: 0 0 10px; padding: 0; font: normal  300 13px/16px 'Open Sans', 'Roboto', sans-serif; }
span.table-data a { color: #01579a; }
span.table-data a:hover { cursor: pointer; }
ul.table { margin: 0; padding: 0; list-style-type: none; }
/*ul.table > li { text-indent: -5px; }*/
ul.table > li:before {
  content: "- ";
  text-indent: -5px;
}
.table-btn {
	width: 90%;
  /*margin: 0 10px;*/
}

#vital-table {
  font: normal 13px/16px 'Open Sans', sans-serif;
  color: #434448;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#vital-table thead {
  background: #ab1457;
  color: #fff;
  font-size: 15px;
}
#vital-table thead th {
    padding: 10px 15px;
}
#vital-table tbody th, #vital-table tbody td {
  padding: 15px 40px;
}

.medication-detail {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #d0d0ce;
  margin-top: -3px;
  border-radius: 4px;
  background: #fff;
  margin-bottom: 20px;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.3);*/
  display: table;
  min-width: 100%;
}


span.appointment-type {
	font-size: 23px;
	color: #888b8d;
	margin-left: 30px;
}
.appt-table-head {
	background: #efefee;
}
.appt-table-head span.table-data {
	font-size: 15px;
	text-transform: none;
	color: #444448;
	border-top: 1px solid #d0d0ce;
}
.appt-table-head span.appt-data {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: default !important;
}
.appt-table-head .appt-data .material-icons {
	position: relative;
	top: 0;
	left: 0;
	font-size: 26px;
  line-height: 18px;
}
span.appt-data {
	padding: 25px 20px;
	border-color: #d0d0ce;
}
span.appt-data-alt {

}
span.appt-data p {
	font: normal  300 15px/19px 'Open Sans', 'Roboto', sans-serif;
}

#appt-search-results { opacity: 0; }
/*div#appt-search-results.fade-in {
	opacity: 1;
	transition: 0.8s all ease;
    -webkit-transition: 0.8s all ease;
}
*/
.schedule-filter {
	background: #efefee;
	padding: 9px 20px 20px;
	color: #444448;
}

.schedule-filter .title {
	color: #444448;
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
}
.schedule-filter .subhead {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: .1em;
	text-transform: uppercase;
	display: block;
	border-top: 1px solid #d0d0ce;
	padding-top: 6px;
	margin-top: 20px;
	padding-top: 10px;
}
.schedule-filter label {
	color: #444448;
	position: relative;
	top: 0;
	left: 0;
	font: normal  300 13px/19px 'Open Sans Semibold', 'Roboto', sans-serif;
	margin-bottom: 10px;
}
.segmented-control {
  position: relative;
  display: inline-block;
  border: 1px solid #8e3e96;
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
}
.schedule-filter label { color: #444448; }
.segmented-control input {
	position: absolute;
    left: -10000px;
    opacity: 0;
}
.segmented-control label {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	color: #444448;
	font-size: 12px;
	text-transform: uppercase;
    padding: 0 .71em;
    margin: 0;
    cursor: pointer;
    text-align: center;
    width: 32.2%;
    line-height: 30px;
    border-right: 1px solid #8e3e96;
}
.segmented-control label.selected {
	background: #baadd4;
}
.schedule-filter .checkbox {  }
.schedule-filter .checkbox.checked {
	background: ##005799;
}
.schedule-filter .checkbox label { padding-left: 24px; }

/*----------------*/
.segmented {
    display: inline-block;
/*    border: 1px solid #8e3e96;
    border-radius: 3px;
    background: #fff;
*/}
.segmented label {
	position: relative;
	left: 0;
	top: 0;
	width: 32.2%;
	margin: 0;
	display: inline;
}
.segmented .label {
    background-color: #fff;
    color: #444448;
    border: 1px #8e3e96;
    border-style: solid none solid solid;
    color: #444448;
    cursor: pointer;
    font: normal  300 12px/19px 'Open Sans Semibold', 'Roboto', sans-serif;
	text-transform: uppercase;
    padding: 0 8px;
    text-align: center;
    width: 74px;
    /*width: 33.333%;*/
    float: left;
    line-height: 30px;
    display: inline-block;
    border-radius: 0;
}
.segmented :first-child .label {
    border-radius: 3px 0 0 3px;
}
/*.segmented :nth-child(2) .label {
	border-left: 1px solid #8e3e96;
	border-right: 1px solid #8e3e96;
}*/
.segmented :last-child .label {
    /*border-left: 1px solid #8e3e96;*/
    border-radius: 0 3px 3px 0;
    border-right-style: solid;
}
.segmented input {
    display: none;
}
.segmented input:checked + .label {
    background: #baadd4;
    color: #444448;
}

/*--------------*/

.summary-info { font: normal 15px/19px 'Open Sans', 'Roboto', sans-serif; }
.summary-info span { font-size: 23px; }
.summary-detail {
  font: normal 300 32px/42px 'Open Sans', 'Roboto', sans-serif;
  margin-top: 0;
}
.summary-additional-details {
  height: 130px;
  width: 100%;
  border: 1px solid #d0d0ce;
  border-radius: 3px;
  padding: 20px;
  font: normal 15px/19px 'Open Sans', 'Roboto', sans-serif;

}
.summary-additional-details:focus { outline: none; }


.alert-bar {
  background: #007cb3;
  display: block;
  padding: 0 10px 15px;
  color: #fff;
  font: 500 15px/19px 'Open Sans', 'Roboto', sans-serif;
}
.alert-agree {
  background: #048d7e !important;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
span.checkbox i { display: inline-block; }

.return-to-top.fixed.active {
    bottom: 0;
    opacity: 1;
}
.return-to-top.fixed {
    position: fixed;
    bottom: 0;
    display: inline-block;
    opacity: 0;
    z-index: 2;
    top: auto;
    transition: 0.4s opacity ease;
}
/*----------*/
.fake-form-text { position: absolute; font-family: 'Roboto',sans-serif; }
#id-create-1 { top:252px; left:170px; }
#id-create-2 { top:305px; left:170px; }
#id-create-3 { top:356px; left:170px; }
#id-create-4 { top:467px; left:170px; }
.fake-form-input {
  position: absolute;
  border: 0;
  width:256px;
  padding-left: 10px;
}
#id-create-5 { top:537px; left:162px; }
#id-create-6 { top:711px; left:162px; }
#id-create-7 { top:910px; left:162px; }

.fake-form-btn {
  display: block;
  position: absolute;
  width: 80px;
  height: 30px;
}
.fake-form-btn:hover { text-decoration: none; }
#id-create-8 { top:999px; left:160px; }
/*----------*/

.body-list {
  font: normal  300 15px/24px 'Open Sans', 'Roboto', sans-serif;
}
.body-list li {
  list-style-type: none;
  margin: 20px 0;
}
.list-dot li { list-style-type: disc; }
.body-list a { cursor: pointer; }

div#overlay-gray { background-color: #333; z-index:20; }
div#overlay-gray.on.fade-in, div#overlay-white.on.fade-in {
    opacity: .9;
}
div#overlay-gray.on.fade-out, div#overlay-white.on.fade-out {
    opacity: 0;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
.drawer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: #fff;
}
.drawer-header {
  background: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
  display: block;
}
.drawer-header a:hover { text-decoration: none; }
.dialog-head {
  font: normal  500 18px/24px 'Open Sans', 'Roboto', sans-serif;
}
.dialog-body {
  font: normal  300 15px/24px 'Open Sans', 'Roboto', sans-serif;
}

#drawer-member-id , #drawer-group-id, #drawer-diastolic, #drawer-systolic { bottom:-560px; }
#drawer-exam-doc, #drawer-difference { bottom:-1140px; }
#drawer-nowclinic { bottom: -1530px; }
#drawer-member-id.slide-up, #drawer-group-id.slide-up, #drawer-nowclinic.slide-up, #drawer-exam-doc.slide-up, #drawer-difference.slide-up, #drawer-diastolic.slide-up, #drawer-systolic.slide-up {
  bottom: 0;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
#drawer-member-id.slide-down, #drawer-group-id.slide-down, #drawer-diastolic.slide-down, #drawer-systolic.slide-down {
  bottom: -550px;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
#drawer-exam-doc.slide-down, #drawer-difference.slide-down {
  bottom: -1140px;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
#drawer-nowclinic.slide-down {
  bottom: -1530px;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
span.highlight {
  display: block;
  z-index: 10;
  background: yellow;
  opacity: .4;
  position: absolute;
  border: 1px solid red;
}
.dialog {
  position: fixed;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  margin-top: -120px !important;
  left: 0;
  z-index: 100;
  display: none;
  opacity: 0;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
.dialog-wrap {
  padding: 24px;
  background: #fff;
}
#almost.fade-in {
  display: block;
  opacity: 1;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
#almost.fade-out {
  display: none;
  opacity: 0;
  transition: 0.8s all ease;
  -webkit-transition: 0.8s all ease;
}
.max-full {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.form-body {
  font: normal  400 15px/24px 'Open Sans', 'Roboto', sans-serif;
  margin: 0;
  text-align: left;
}
.form-body-edit {
  padding-left: 6px;
  margin-bottom: 10px;
  height: 30px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3) !important;
  border: 1px solid #d0d0ce;
  display: none;
}
.form-body-check-edit { display: none !important; }
.save-bar {
  background: #fff8c4;
  padding: 20px 15px;
  margin-top: 40px;
}
.save-bar-text {
  font-size: 15px;
  color: #231f20;
  padding-top: 5px;
  display: block;
  float: left;
}
.save-bar .btn-secondary { font: normal 400 12px/19px 'Open Sans', 'Roboto', sans-serif; }

.gray-back {
  background: #efefee;
  border-top: 1px solid #d0d0ce;
  border-bottom: 1px solid #d0d0ce;
  padding-top: 40px;
  padding-bottom: 50px;
}
.profile-detail-head {
  font: normal  400 15px/24px 'Frutiger', 'Roboto', sans-serif;
  display: block;
  /*padding-bottom: 5px;*/
  margin-bottom: 8px;
  border-bottom: 1px solid #d0d0ce;
}
.pref-head {
  color: #434448;
  font: normal  400 15px/24px 'Frutiger', 'Roboto', sans-serif;
  /*text-transform: uppercase;*/
  letter-spacing: .02em;
  display: inline-block;
}
.pref-body {
  color: #434448;
  font: normal  400 15px/24px 'Open Sans', 'Roboto', sans-serif;
  /*text-transform: uppercase;*/
  display: inline-block;
  padding: 30px 0;
}


/*----Medical ---*/
.ghost {
  position: absolute;
  display: block;
}
.ghost:hover {
  /*background: rgba(158,158,158,0.2);*/
  cursor: pointer;
  text-decoration: none;
}
.ghost:active { text-decoration: none; }
a#ghost-renew {
  top: 233px;
  left: 975px;
  width: 162px;
  height: 30px;
}
a#ghost-medical-bread {
  top: 2px;
  left: 45px;
  width: 120px;
  height: 30px;
}
#ghost-renew-confirm {
  top: 590px;
  left: 993px;
  width: 162px;
  height: 30px;
}
#ghost-renew-confirm:hover { background: rgba(158,158,158,0.2); }
#ghost-view-details {
  top: 537px;
  left: 1070px;
  width: 95px;
  height: 30px;
}
.card-accent {background:#3965A1;}
.card-action {color:#3965A1;}
section.flavor-layer {background:#f8f8f8; color:#000;}

.micro-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    display: inline-block;
    background-color: #FFF;
    overflow: hidden;
    cursor: default;
    width: 262px;
    height: 250px;
    text-align: center;
    margin: 40px 30px 0 0;
}
.micro-card p {
  display: block;
}
.micro-card .card-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
}
.micro-card .details {
  position: absolute;
  bottom: 54px;
  width: 100%;
  left: 0;
  color: #333 !important;
}
.micro-card .bottom-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 15px;
  text-align: left;
  height: 50px;
  width: 100%;
}
.micro-card .bottom-link p {
  margin: 12px 0;
}

.vital-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    display: inline-block;
    background-color: #FFF;
    overflow: hidden;
    cursor: default;
    width: 495px;
    height: 260px;
    text-align: left;
    margin: 40px 0 10px 0;
    padding: 28px 40px 12px 40px;
}

.vital-card .card-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.vital-card i {
  font-size: 30px;
  line-height: 30px;
}

.renewal-card {
  height: 155px;
  margin-top: 20px;
  margin-right: 20px;
}

.location-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  display: block;
  background-color: #FFF;
  width: 100%;
  padding: 20px 20px 80px;
  border: 1px solid #cfcfcd;
  border-radius: 4px;
  position: relative;
  min-height: 363px;
}

.location-container .segmented {
  width: 300px;
}

.location-container .segmented .label {
  width: 50%;
  text-transform: none;
}

.location-container .segmented input:checked + .label {
  background: #dcd5e9;
}

.location-container:before, .location-container:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: solid transparent;
  left: 5%;
  margin-left: -12px;
}

.location-container:before {
  border-width: 40px;
  border-bottom-color: #cfcfcd;
  top: -81px;
  margin-left: -13px;
}
.location-container:after {
  border-width: 39px;
  border-bottom-color: #fff;
  top: -78px;
}

.location-container input {
  border: 1px solid #d0d0ce;
  border-radius: 3px;
  width: 100%;
  text-align: left;
  height: 36px;
  outline: 0;
  padding-left: 10px;
}

.location-container .cancel {
  position: absolute;
  top: 10px;
  right: 10px;
}

.location-container i {
  font-size: 36px;
}

/*#add-location-container { position: relative; }

#search-retail, #search-mail {
  position: absolute;
  top: 80px;
}
*/
#retail-list {
  display: none;
  overflow-y: auto;
  max-height: 720px;
}

.retail-list-item {
  cursor: pointer;
  box-sizing: border-box;
  min-height: 70px;
  padding: 15px 18px 15px 12px;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  border-bottom: 1px solid #d0d0ce;
  position: relative;
}

.retail-list-item:hover { background-color: #ded8ea; }

.list-item-number { width: 20px; }
.list-item-detail { width: 220px; }
.list-item-detail span.location-name, .location-tooltip span.location-name { font-weight: bold; color: #00579a; }
.list-item-detail span.space { display: block; margin-top: 6px; }

.list-item-wait { text-align: right; width: 100px; }
.list-item-select-caret {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -18px;
  display: none;}

.list-item-select-caret i {
  font-size: 36px;
  color: #4A148C;

}

#retail-map {
  overflow: hidden;
  max-height: 720px;
}
#retail-map img {
  /*background-size: cover !important;*/
  height: 100%;
}
span.map-pin {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(74, 20, 140, 1);
  border-radius: 10px;
  /*display: none;*/
  opacity: 0;
}
#map-pin-marker-1 {
  top:208px;
  left: 392px;
}
#map-pin-marker-2 {
  top:336px;
  left: 507px;
}
#map-pin-marker-3 {
  top:435px;
  left: 660px;
}
#map-pin-marker-4 {
  top:467px;
  left: 365px;
}
#map-pin-marker-6 {
  top:610px;
  left: 216px;
}
#map-pin-marker-5 {
  top:78px;
  left: 278px;
}
#map-pin-marker-7 {
  top:215px;
  left: 378px;
}
span#map-pin-1 {
  top:208px;
  left: 392px;
}
span#map-pin-2 {
  top:336px;
  left: 507px;
}
/*#location-tooltip-1, #location-tooltip-2 { display: none; }*/
.location-tooltip {
  position: absolute;
  background: #fff;
  padding: 20px;
  width: 240px;
  border: 1px solid #d0d0ce;
  border-radius: 2px;
  display: none;
}
.location-tooltip:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -13px;
    top:-27px;
    border: solid 13px transparent;
    border-bottom-color: #d0d0ce;
    z-index: 1;
}
.location-tooltip:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top:-28px;
    border: solid 15px transparent;
    border-bottom-color: #FFF;
    z-index: 1;
}
#location-tooltip-1 { top:240px; left:282px; }
#location-tooltip-2 { top:367px; left:397px; }
#location-tooltip-3 { top:467px; left:550px; }
#location-tooltip-4 { top:498px; left:255px; }
#location-tooltip-5 { top:110px; left:169px; }
#location-tooltip-6 { top:642px; left:106px; }
#location-tooltip-7 { top:246px; left:269px; }
#doc-container { display: none; }


.row { margin-left:0; margin-right:0;}
p { font: normal  400 15px/24px 'Open Sans', 'Roboto', sans-serif; }
p.small { font: normal  400 13px/19px 'Open Sans', 'Roboto', sans-serif; }
.green { color: #617e37; }
.red { color: #ee2724; }
.light-gray { color: #888b8d; }
.intro {
	margin: 12 0 35px;
	font-size: 18px;
    line-height: 28px;
}
.link-color { color: #01579a; }
.light-gray-gradient {
  /*height: 100px;*/
  background-color: #eceeef;
  background-image:
    linear-gradient(
      to bottom,
      #eceeef,
      white 50%
    );
}

.form-label {
	color: #717577;
  position: relative;
  top: 0;
  left: 0;
  font-size: 13px;
}
.form-control { border-radius: 3px; }
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width:260px;
	border: 1px solid #d0d0ce;
	border-radius: 3px;
	font: normal  300 15px/24px 'Open Sans', 'Roboto', sans-serif;
}
.btn-group>.btn:first-child {
	border: 0;
    height: 34px;
    border-radius: 3px;
    line-height: 1;
}
.form-drop {
	/*font: normal  300 15px/24px 'Open Sans', 'Roboto', sans-serif;*/
	border: 1px solid #d0d0ce;
	border-radius: 3px;
	width: 260px;
	text-align: left;
}

.appt-tabel-head {

}

/*-------------Select2--------------*/
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single:focus, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple:focus { outline: 0; }
.select2-container--default .select2-selection--single {
  border: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 13px;
  outline: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #01579a;
  line-height: 26px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #01579a transparent transparent transparent;
}
.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.25);
  margin-top: 4px;
}
.select2-container--open .select2-dropdown--below:before, .select2-container--open .select2-dropdown--below:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;

  border: solid transparent;
  left: 50%;
  margin-left: -12px;
}
.select2-container--open .select2-dropdown--below:before {
  border-width: 10px;
  border-bottom-color: #aaa;
  top: -21px;
  margin-left: -13px;
}
.select2-container--open .select2-dropdown--below:after {
  border-width: 9px;
  border-bottom-color: #fff;
  top: -18px;
}

p.ul2 a {color:#333;}

footer.slim {background:#515253;}
footer.site-map {padding: 30px 0;}
footer.site-map h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #333742;
    display: inline-block;
    margin-right: 45px;
}

@media (max-width: 768px) {
  nav, .secondary-nav, header .slim-menu {display: none;}
  .grid-12 .col-4 {width:50%;}
}

@media print {
 .drawer {
     display: none;
  }
}
